body {
    direction: rtl;
    overflow-x: hidden;
    font-family: Shabnam;
}

.row {
    margin: 0% !important;
}

.row h3,
h5 {
    color: #007f62;
}

.camel-logo {
    width: 90px;
    height: 90px;
}

.nav-link {
    cursor: pointer;
}

.des-text h5 {
    color: #00a680;
    border-bottom: #007f62 solid 3px;
    width: fit-content;
    padding: 10px;
    margin: 20px 0;
}

.orange-button {
    width: 140px;
    border-radius: 25px;
    box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
    background-image: linear-gradient(to top, #e35325, #ff8a65);
    border-color: #ff8a65;
}

.button-nav {
    width: 100px !important;
}

.green-button {
    width: 160px;
    border-radius: 25px;
    box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
    background-image: linear-gradient(to left, #00a680 30%, #00f4bd);
    border-color: rgba(0, 127, 98, 0.25);
}

.st0 {
    clip-path: url(#SVGID_2_);
    fill: url(#SVGID_3_);
}

.browse-gallery div {
    height: 72px;
    min-width: 72px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 9px;
    white-space: nowrap;
    border: 1px solid #00a680;
    border-radius: 50%;
    background-color: white;
}

.svg-wrapper {
    background-image: linear-gradient(rgb(255, 159, 129), rgb(244, 103, 57)) !important;
    border: none !important;
}

.svg-wrapper svg {
    fill: white !important;

}

.browse-gallery div svg {
    width: 20px;
    height: 20px;
    fill: url(#MyGradient);
}

.carousel-indicators li {
    background-color: #ff7043;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.carousel-indicators li.active {
    border-radius: 45%;
    width: 20px;

}

.download-div {
    border-radius: 30px;
    box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
}

.download-description input {
    background-color: #fafafa;
    border-radius: 25px;
    direction: ltr;
}



.splitter-row svg {
    position: absolute;
    opacity: 0.5;
    height: 100vh;
    transform: scale(2);
}

.splitter-row div .btn {
    color: white;
}

.splitter-row div {
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.splitter-row {
    height: 50vh;
    position: relative;
    background-image: url(./export/023_amadegisafar.jpg);
    background-size: cover;
    overflow: hidden;
}


.ideas {
    text-align: center;
}

.scientific {
    background-image: url(./export/reading.jpeg);
}

.nature {
    background-image: url(./export/masal.jpg);
}

.religious {
    background-image: url(./export/mir.jpg);
}

.fun {
    background-image: url(./export/water-park.png);
}

.historical {
    background-image: url(./export/Cyrus.jpg);
}

.categories div span {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    align-self: flex-end;
    height: 0px;
    visibility: hidden;
    margin: 0;
    transform: translateY(10px);
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    transition: all 0.8s;
}

.categories div:hover span {
    height: 50px;
    visibility: visible;

}

.categories div {
    min-width: 180px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 15px;
    white-space: nowrap;
    border-radius: 10px;
    background-size: cover;
    box-shadow: 0px 10px 20px 0 #bdbdbd;
    overflow: hidden;
}

.categories {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.subscribe {
    text-align: center;
}

.subscribe div input {
    border-radius: 25px;
    box-shadow: 0px 4px 20px 0 rgba(0, 88, 67, 0.17);
}

.fotter-img {
    width: 60px;
    height: 60px;

}

.footer-logo {
    position: absolute;
    height: 60px;
    width: 60px;
    left: 70%;
}

.header-wave {
    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 768px) {

    .navbar,
    .navbar-brand {
        color: #007f62 !important;
        background-color: white !important;
        z-index: 100;
    }

    .navbar {
        box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
    }

    .search-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .description {
        padding: 40px;
    }

    .carousel-indicators {
        bottom: -10%;
        z-index: -1;
    }


    .search {
        direction: ltr;
        transition: all .5s;
        width: 0;
        margin: 0 8px;
        padding: 0;
        border: none;
        background-color: #cdfff4;
    }

    .bgimg {
        position: absolute;
        right: -30%;
        z-index: -1;
    }

    .navbar-brand-pic {
        display: none;
    }

    .des-text {
        margin: 50px 0;
    }



    .waves {
        position: relative;
        overflow: hidden;
        padding: 50px 0;
        width: 100vw;
    }


    .first-wave {
        position: absolute;
        height: 20vh;
        animation: waves 3000ms ease-out infinite alternate;
    }

    .second-wave {
        height: 20vh;
        animation: waves 4000ms ease-in infinite alternate 2s;
    }

    .phone-and-icons {
        width: 100%;
        overflow: hidden;
    }

    .phone-img {
        width: 100vw;
    }

    .phone-row {
        width: 100%;
    }



    .browse-gallery {
        width: 100%;
        height: 100px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        float: left;
        display: flex;
    }

    .download-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        direction: ltr;
    }


    .ideas-and-categories {
        height: 80vh;
    }

    .categories div span {
        height: 50px !important;
        visibility: visible !important;
    }

    .categories div {
        min-width: 200px !important;
        height: 150px !important;
    }

    .categories {
        width: 100%;
        overflow-x: scroll !important;
        overflow-y: hidden !important;
        white-space: nowrap;
        float: left;
        margin: 45px 0;
    }

    .subscribe-and-footer {
        height: 100vh;
        background-color: #e1fff8;
        overflow: hidden;
        background-image: url(./export/mobile-footer.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        position: relative;
    }


    .contact {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 30% 0 10% 0;
    }

    .links-div {
        display: flex;
        margin-top: 15%;
        color: white;
        justify-content: space-around;
        align-items: flex-end;
        height: 20%
    }

    .footer-logo {
        left: 40%;
        bottom: 0%;
    }


}

@media only screen and (min-width: 768px) {
    .search-div {
        display: none;
    }

    .navbar-nav {
        justify-content: space-around;
        width: 100% !important;
    }

    .navbar,
    .navbar-brand {
        color: #007f62 !important;
    }

    .bgimg {
        position: absolute;
        width: 20%;
        top: 0;
    }


    .first-wave {
        animation: waves 3000ms ease-out infinite alternate;
        width: 100vw;
    }

    .second-wave {
        animation: waves 3000ms ease-out infinite alternate 1s;
        width: 130vw;
    }

    .carousel-item-next,
    .carousel-item-prev,
    .carousel-item.active {
        display: flex !important
    }

    .phone-img {
        width: 20vw;
    }

    .browse-gallery div {
        margin: 20px 9px;

    }

    .line-div {
        height: 100% !important;
        width: 2px !important;
        min-width: 0 !important;
        left: 40%;
        top: -5%;
        z-index: -1 !important;
        padding: 0 !important;
    }

    .download-inputs {
        position: relative;
    }

    .download-description input {
        padding-left: 50px;
    }

    .download-description button.orange-button {
        position: absolute;
        left: 20%;
        top: 0;
    }

    .download-btns {
        position: absolute;
        bottom: -12%;
    }

    .download-wave {
        height: 150%;
        bottom: -18%;
        left: -30%;
    }

    .splitter-row {
        height: 33vh;
    }

    .splitter-row svg {
        background-color: white;
        transform: scale(1.08);
        height: unset;
    }

    .splitter-row div .btn {
        position: absolute;
        top: 110%;
    }

    .subscribe-and-footer {
        position: relative;
        padding-top: 200px;
    }

    .subscribe div {
        position: relative;
    }


    .subscribe div button {
        position: absolute;
        left: 25%;
        bottom: 0%;
    }

    .contact {
        position: relative;
        height: 20px;
    }

    .tele {
        position: absolute;
        left: 18%;
        top: 90px;
        z-index: 1;
    }

    .insta {
        position: absolute;
        left: 12%;
        top: 80px;
        z-index: 2;
    }

    .twitter {
        position: absolute;
        left: 6%;
        top: 50px;
        z-index: 3;
    }

    .links-div {
        background-image: url(./export/025_footer_Bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 200px;
        display: flex;
    }

    .footer-logo {
        top: -20%;
        right: 20%;
    }

    .links {
        margin: 0;
        color: white;
    }

    .link-1 {
        position: absolute;
        left: 50%;
        top: 40%;
    }

    .link-2 {
        position: absolute;
        left: 38%;
        top: 40%;
    }

    .links li {
        padding: 5px 0;
    }

    .links li:hover {
        cursor: pointer;
    }

    .web-footer {
        background-image: url(./export/026_footer_c.right_bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        height: 90px;
    }

    .web-footer span {
        position: absolute;
        bottom: 0;
        right: 70px;
        width: 70%;
        color: white;
    }
}

@keyframes waves {
    0% {}

    50% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(-1px);

    }
}

@font-face {
    font-family: Shabnam;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.woff2') format('woff2'),
        url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.woff') format('woff'),
        url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.ttf') format('truetype');
    font-weight: normal;
}