body {
    direction: rtl;
    overflow-x: hidden;
}

.row {
    margin: 0% !important;
}

.row h3,
h5 {
    color: #007f62;
}

.camel-logo {
    width: 90px;
    height: 90px;
}

.des-text h5 {
    color: #00a680;
    border-bottom: #007f62 solid 3px;
    width: fit-content;
    padding: 10px;
    margin: 20px 0;
}


@media only screen and (max-width: 400px) {

    .navbar,
    .navbar-brand {
        color: #007f62 !important;
        background-color: white !important;
        z-index: 1;
    }

    .navbar {
        box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
    }

    .search-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .description {
        padding: 40px;
    }

    .carousel-indicators {
        bottom: -10%;
        z-index: -1;
    }

    .carousel-indicators li {
        background-color: #ff7043;
    }

    .search {
        direction: ltr;
        transition: all .5s;
        width: 0;
        margin: 0 8px;
        padding: 0;
        border: none;
        background-color: #cdfff4;
    }

    .bgimg {
        position: absolute;
        right: -30%;
        z-index: -1;
    }

    .navbar-brand-pic {
        display: none;
    }

    .des-text {
        margin: 50px 0;
    }



    .waves {
        position: relative;
        overflow: hidden;
        padding: 50px 0;
        width: 100vw;
    }


    .first-wave {
        position: absolute;
        height: 20vh;
        animation: waves 3000ms ease-out infinite alternate;
    }

    .second-wave {
        height: 20vh;
        animation: waves 4000ms ease-in infinite alternate 2s;
    }

    .phone-and-icons {
        width: 100%;
        overflow: hidden;
    }

    .phone-img {
        width: 100vw;
        height: 100vh;
    }

    .phone-row {
        width: 100%;
        height: 100vh;
    }

    .icons {

        overflow: hidden;
    }

    .icons div {
        overflow: scroll;
        display: flex;
        justify-content: space-between;
        width: 150vw;
    }

    .icons img {
        border-radius: 50%;
        border: #00a680 1px solid;
        padding: 10px;
        width: 40px;
        height: 40px;
        display: inline-block;
    }


    .browse-gallery {
        width: 100%;
        height: 100px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        float: left;
        display: flex;
    }

    .browse-gallery div {
        height: 72px;
        min-width: 72px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0 9px;
        white-space: nowrap;
        border: 1px solid #00a680;
        border-radius: 50%;
    }


    .svg-wrapper {
        background-image: linear-gradient(rgb(255, 159, 129), rgb(244, 103, 57)) !important;
        border: none !important;
    }

    .svg-wrapper svg {
        fill: white !important;

    }

    .browse-gallery div svg {
        width: 20px;
        height: 20px;
        fill: url(#MyGradient);
    }

    .download-div {
        height: 100vh;
        border-radius: 15px;
        box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
    }

}

@media only screen and (min-width: 400px) {
    .search-div {
        display: none;
    }

    .navbar-nav {
        justify-content: space-around;
        width: 100% !important;
    }

    .navbar,
    .navbar-brand {
        color: #007f62 !important;
        background-color: unset !important;
    }

    .bgimg {
        position: absolute;
        width: 20%;
        top: 0;
    }
}

@keyframes waves {
    0% {}

    50% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(-1px);

    }
}