body {
    direction: rtl;
    overflow-x: hidden;
    font-family: Shabnam;
}

.row {
    margin: 0% !important;
}

.row h3,
h5 {
    color: #007f62;
}

.camel-logo {
    width: 90px;
    height: 90px;
}

.des-text h5 {
    color: #00a680;
    border-bottom: #007f62 solid 3px;
    width: fit-content;
    padding: 10px;
    margin: 20px 0;
}

.orange-button {
    width: 140px;
    border-radius: 25px;
    box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
    background-image: linear-gradient(to top, #e35325, #ff8a65);
    border-color: #ff8a65;
}

.green-button {
    width: 160px;
    border-radius: 25px;
    box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
    background-image: linear-gradient(to left, #00a680 30%, #00f4bd);
    border-color: rgba(0, 127, 98, 0.25);
}


@media only screen and (max-width: 768px) {

    .navbar,
    .navbar-brand {
        color: #007f62 !important;
        background-color: white !important;
        z-index: 100;
    }

    .navbar {
        box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
    }

    .search-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .description {
        padding: 40px;
    }

    .carousel-indicators {
        bottom: -10%;
        z-index: -1;
    }

    .carousel-indicators li {
        background-color: #ff7043;
    }

    .search {
        direction: ltr;
        transition: all .5s;
        width: 0;
        margin: 0 8px;
        padding: 0;
        border: none;
        background-color: #cdfff4;
    }

    .bgimg {
        position: absolute;
        right: -30%;
        z-index: -1;
    }

    .navbar-brand-pic {
        display: none;
    }

    .des-text {
        margin: 50px 0;
    }



    .waves {
        position: relative;
        overflow: hidden;
        padding: 50px 0;
        width: 100vw;
    }


    .first-wave {
        position: absolute;
        height: 20vh;
        animation: waves 3000ms ease-out infinite alternate;
    }

    .second-wave {
        height: 20vh;
        animation: waves 4000ms ease-in infinite alternate 2s;
    }

    .phone-and-icons {
        width: 100%;
        overflow: hidden;
    }

    .phone-img {
        width: 100vw;
    }

    .phone-row {
        width: 100%;
    }

    .icons {

        overflow: hidden;
    }

    .icons div {
        overflow: scroll;
        display: flex;
        justify-content: space-between;
        width: 150vw;
    }

    .icons img {
        border-radius: 50%;
        border: #00a680 1px solid;
        padding: 10px;
        width: 40px;
        height: 40px;
        display: inline-block;
    }


    .browse-gallery {
        width: 100%;
        height: 100px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        float: left;
        display: flex;
    }

    .browse-gallery div {
        height: 72px;
        min-width: 72px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0 9px;
        white-space: nowrap;
        border: 1px solid #00a680;
        border-radius: 50%;
    }


    .svg-wrapper {
        background-image: linear-gradient(rgb(255, 159, 129), rgb(244, 103, 57)) !important;
        border: none !important;
    }

    .svg-wrapper svg {
        fill: white !important;

    }

    .browse-gallery div svg {
        width: 20px;
        height: 20px;
        fill: url(#MyGradient);
    }

    .download-div {
        border-radius: 15px;
        box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
    }

    .download-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        direction: ltr;
    }

    .download-description input {
        background-color: #fafafa;
        border-radius: 25px;
    }


    .splitter-row img {
        position: absolute;
    }

    .splitter-row svg {
        position: absolute;
        opacity: 0.5;
        height: 100vh;
        transform: scale(2);
    }

    .splitter-row div .btn {
        color: white;
    }

    .splitter-row div {
        position: absolute;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }

    .splitter-row {
        height: 50vh;
        position: relative;
        background-image: url(./export/023_amadegisafar.jpg);
        background-size: cover;
        overflow: hidden;
    }

    .ideas-and-categories {
        height: 80vh;
    }

    .ideas {
        text-align: center;
    }

    .scientific {
        background-image: url(./export/reading.jpeg);
    }

    .nature {
        background-image: url(./export/masal.jpg);
    }

    .religious {
        background-image: url(./export/mir.jpg);
    }

    .fun {
        background-image: url(./export/water-park.png);
    }

    .historical {
        background-image: url(./export/Cyrus.jpg);
    }

    .categories span {
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        width: 100%;
        align-self: flex-end;
        height: 50px;
        margin: 0;
        text-align: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-top: 10px;
    }

    .categories div {
        min-width: 200px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0 15px;
        white-space: nowrap;
        border-radius: 10px;
        background-size: cover;
        box-shadow: 0px 10px 20px 0 #bdbdbd;
    }

    .categories {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        float: left;
        display: flex;
        justify-content: space-between;
    }

    .subscribe-and-footer {
        height: 100vh;
        background-color: #e1fff8;
        position: relative;
        overflow: hidden;
    }

    .subscribe input {
        border-radius: 25px;
        box-shadow: 0px 4px 20px 0 rgba(0, 88, 67, 0.17);
    }

    .subscribe {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .search-div {
        display: none;
    }

    .navbar-nav {
        justify-content: space-around;
        width: 100% !important;
    }

    .navbar,
    .navbar-brand {
        color: #007f62 !important;
        background-color: unset !important;
    }

    .bgimg {
        position: absolute;
        width: 20%;
        top: 0;
    }
}

@keyframes waves {
    0% {}

    50% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(-1px);

    }
}

@font-face {
    font-family: Shabnam;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.woff2') format('woff2'),
        url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.woff') format('woff'),
        url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.ttf') format('truetype');
    font-weight: normal;
}